<nav class="navbar">

  <a class="logo" href="#">
    GV<span>.</span>
  </a>

  <ul class="nav-links">
    <li><a href="#journey">Journey</a></li>
    <li><a href="#engineering">Engineering</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#knowledge">Knowledge</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>

  <div class="actions">

    <a
      class="github"
      href="https://github.com/Gaurav-Vennamwar"
      target="_blank">

      GitHub

    </a>

    <a class="resume" href="#">
      Resume
    </a>

  </div>

</nav>